.u-section-1 {
  background-image: url("images/2020-11-16_08.07.26.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-text-1 {
  margin: 31px -13px 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  text-decoration: none solid rgb(255, 255, 255);
  text-transform: none;
  margin: 13px 351px 0 13px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 2px 351px 0 13px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 18px 377px 0 13px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 0 351px 0 13px;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  font-weight: 700;
  animation-duration: 1000ms;
  text-decoration: none solid rgb(255, 255, 255);
  margin: 20px 343px 0 13px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 2px 351px 60px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 164px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 164px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 190px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 164px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 156px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 164px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 322px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 203px;
  }
}