.u-section-1 {
  background-image: url("images/2020-11-16_08.07.26.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1227px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 21px 377px 0 13px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  width: 286px;
  margin: 85px auto 0;
}

.u-section-1 .u-image-1 {
  width: 247px;
  height: 247px;
  margin: 79px auto 0 63px;
}

.u-section-1 .u-image-2 {
  width: 247px;
  height: 247px;
  margin: -247px auto 0 447px;
}

.u-section-1 .u-image-3 {
  width: 247px;
  height: 247px;
  margin: -247px auto 0 779px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 830px 0 63px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -86px 447px 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -86px 114px 0 779px;
}

.u-section-1 .u-image-4 {
  width: 247px;
  height: 247px;
  margin: 14px auto 0 63px;
}

.u-section-1 .u-image-5 {
  width: 247px;
  height: 247px;
  margin: -247px auto 0 447px;
}

.u-section-1 .u-image-6 {
  width: 247px;
  height: 247px;
  margin: -247px auto 0 779px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 830px 0 63px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -86px 437px 60px 456px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 190px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 693px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 662px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 330px;
    margin-left: 363px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 4px;
    margin-left: 689px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 693px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 693px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: 247px;
    margin-right: 337px;
    margin-left: 356px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 473px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 442px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 110px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 473px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 473px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 473px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 246px;
    margin-right: 227px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 293px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 262px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 293px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 293px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 293px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 293px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 293px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 156px;
    margin-right: 137px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-2 {
    margin-left: 93px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 62px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 93px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 93px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 93px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 56px;
    margin-right: 37px;
  }
}